.header {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar-nav {
    .nav-link {
      color: #235ede;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        color: #445566; //kommentar
      }
    }
  }
}
