.header {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar-nav {
    .nav-link {
      color: #235ede;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        color: #445566;
      }
    }
  }
  .welcome-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0; // Add this line
    // Add more styles as needed
  }
  .links {
    display: flex;
    align-items: center; // Add this line
    width: 100%;
    padding: 1rem 2rem;
  }
}